a {
    text-decoration: none;
    background: #28aeff;
    color: white;
    padding: 15px;
    margin: 50px;
}

div {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}