.info {
    display: flex;
    justify-content: center;
}

.profiel img {
    height: 170px;
    padding: 10px;
}

.profiel {
    margin: 20px 100px 0;
    width: max-content;
}


.profiel p {
    padding: 10px;
}

.statestiek {
    margin: 50px 100px 0;
    width: max-content;
}

td {
    text-align: center;
}

th {
    text-align: left;
}

td, th {
    padding: 10px;
}

