.content p{
    text-align: center;
}

th {
    width: 150px;
    text-align: left;
    border: solid 1px;
    padding: 0 0 0 10px;
}

td{
    border: solid 1px;
    padding: 0 10px;
}

table {
    margin: 50px auto 0;
    border-collapse: collapse;
}

