<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>

    <style>
        #resultaat-dropdown {
            width: 150px;
            text-align: left;
            border: solid 1px;
            padding: 0 0 0 10px;
        }
    </style>

</head>
<body>
<!---
@WHAT
A dropdown list that sends the selected data directly to the database API.
After selection a PATCH request will be sent to hu-toetsregistratie/api to change
the voldoende value to either true or false. true = voldoende and false = onvoldoende.
@WHY
Teachers(=client for our project) want to be able to edit mistakenly added results.
@ALTERNATIVES
It is also possible to make a button to start the editing process. To simplify the functional needs
a dropdown list had been chosen.
@PLANS
Planning to add two buttons: save (sends the selection to the api after pressing)
and cancel (cancels the editing process).
-->


<div class="button">
    <select id="resultaat-dropdown" name="resultaat" onchange="patchResultaat()">
<!--        <label for="voldoende">Voldoende</label>-->
        <option value="voldoende" id="voldoende">voldoende</option>
<!--        <label for="onvoldoende">Onvoldoende</label>-->
        <option value="onvoldoende" id="onvoldoende">onvoldoende</option>
    </select>
</div>

<script>
    // empty dictionary that will contain the data to be send in the PATCH request
    let newInput = {'voldoende': undefined};

    function patchResultaat() {
        console.log('waarde voor de functie');
        console.log(newInput);
        // dropdown element in the html
        resultaat = document.getElementById("resultaat-dropdown").value;
        if (resultaat == 'voldoende') {
            newInput.voldoende = true;
        } else {
            newInput.voldoende = false;
        }
        updateResult('https://hu-toetsregistratie.nl/api/cijferid/1/?format=json', newInput)
        console.log('waarde na de functie');
        console.log(newInput);
    }

    // PATCH new data to https://hu-toetsregistratie.nl/api
    async function updateResult(url = ' ', inputData = {}) {
        const response = await fetch(url, {
            method: 'PATCH',
            mode: 'cors',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            body: JSON.stringify(inputData)});
        return response.json();
    }

</script>

</body>
</html>