<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../Style/Style_basics.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="navbar">
            <a href="https://www.hu.nl/?gclid=EAIaIQobChMI5KiVpfe_6QIV2-vtCh0PpgCJEAAYASAAEgIm7fD_BwE"
               title="HU"><img src="../Visuals_index/HU_logo_klein.png" alt="Image could not be found."></a>
            <a>Account</a>
            <a>Dashboard</a>
            <a>Cursussen</a>
            <a href="index.html" class="active">Resultaten</a>
            <a>Groepen</a>
            <a>Kalender</a>
        </div>
        <div class="sidenav">
            <a class='link active' href="overzicht.html">Overzicht</a>
            <a class='link' href="toets_invoeren.html">Toets invoeren</a>
            <a class='link' href="student_invoeren.html">Student invoeren</a>
            <a class='link active' href="invoeren.html">Resultaat invoeren</a>
            <a class='link' href="statistiek.html">Statistiek</a>
            <a class='link' href="student.html">Student</a>
        </div>
    </div>
    <div class="title">
        <h3>Resultaten</h3>
    </div>
    <div class="content">
        <h2>Studentoverzicht</h2>
    </div>
    <script type="text/javascript" src="../Script/Script_student.js"></script>
</body>
</html>