<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Statestiek</title>
    <link href="../Style/Style_basics.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="https://www.hu.nl/?gclid=EAIaIQobChMI5KiVpfe_6QIV2-vtCh0PpgCJEAAYASAAEgIm7fD_BwE"
           title="HU"><img src="../Visuals_index/HU_logo_klein.png" alt="This image could not be found."></a>
        <a>Account</a>
        <a>Dashboard</a>
        <a>Cursussen</a>
        <a href="index.html" class="active">Resultaten</a>
        <a>Groepen</a>
        <a>Kalender</a>
    </div>
    <div class="sidenav">
        <a class='link' href="overzicht.html">Overzicht</a>
        <a class='link' href="toets_invoeren.html">Toets invoeren</a>
        <a class='link' href="student_invoeren.html">Student invoeren</a>
        <a class='link active' href="invoeren.html">Resultaat invoeren</a>
        <a class='link active' href="statistiek.html">Statestiek</a>
        <a class='link' href="student.html">Student</a>
    </div>
    <div class="title">
        <h3>Resultaten</h3>
    </div>
    <div class="content">
        <h2>Statestiek</h2>
        <h1>Deze pagina is onder constructie</h1>
    </div>
</body>
</html>