<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link href="../Style/Style_student.css" type="text/css" rel="stylesheet">
    <link href="../Style/Style_basics.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="https://www.hu.nl/?gclid=EAIaIQobChMI5KiVpfe_6QIV2-vtCh0PpgCJEAAYASAAEgIm7fD_BwE"
           title="HU"><img src="../Visuals_index/HU_logo_klein.png" alt="Image could not be found"></a>
        <a>Account</a>
        <a>Dashboard</a>
        <a>Cursussen</a>
        <a href="index.html" class="active">Resultaten</a>
        <a>Groepen</a>
        <a>Kalender</a>
    </div>

    <div class="sidenav">
        <a class='link' href="overzicht.html">Overzicht</a>
        <a class='link' href="toets_invoeren.html">Toets invoeren</a>
        <a class='link' href="student_invoeren.html">Student invoeren</a>
        <a class='link active' href="invoeren.html">Resultaat invoeren</a>
        <a class='link' href="statistiek.html">Statistiek</a>
        <a class='link active' href="student.html">Student</a>
    </div>

    <div class="title">
        <h3>Resultaten</h3>
    </div>

    <div class="content">
        <h2>Studentoverzicht</h2>
        <div class="info">
            <div class="profiel">
                <img src="../Visuals_index/Foto.png" alt="Image could not be found">
                <p>Nikki Westenborg</p>
                <p>Jaar 2</p>
                <form role="form">
                    <div class="form-group">
                        <label for="project">Project</label>
                        <div class="input-group">
                            <p><input type="text" class="form-control editField" value="Toetsregistratie" readonly></p>
                            <p><input type="text" class="form-control editField" value="Frond-end" readonly></p>
                            <p><input type="text" class="form-control editField" value="40" readonly></p>
                        </div>
                    </div>
                </form>
                <div class='row text-center'>
                    <button type="button" class="btn btn-danger editBtn">Edit off</button>
                </div>
            </div>
            <div class="statistiek">
                <table>
                    <tr>
                        <th></th>
                        <th scope="col">Blok 1</th>
                        <th scope="col">Blok 2</th>
                        <th scope="col">Blok 3</th>
                        <th scope="col">Blok 4</th>
                    </tr>
                    <tr>
                        <th scope="row">Jaar 1</th>
                        <td>Behaald</td>
                        <td>Behaald</td>
                        <td>Behaald</td>
                        <td>Niet behaald</td>
                    </tr>
                    <tr>
                        <th scope="row">Jaar 2</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">Jaar 3</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">Jaar 4</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="../Script/Script_student.js"></script>
</body>
</html>